.topo {
    position: fixed;
    border-bottom: #E0E0E0 2px solid;
    width: 100%;
}

.topo .container-topo{
 margin-top: 10px;
 margin-left: 500px;
 margin-top: 15px;
}

.topo .container-topo a{
 text-decoration: none;
 font-size: 32px;
 padding: 20px;
 color: #3FA5BF;
}

#sidebar{
    height: 100%;
    width: 300px;
    background-color: #3FA5BF;
    position: fixed;
    margin-top: 38px;
}

 .logo-sidebar {
    background-image: url(../img/animal1.jpg);
    height: 200px;
    width:300px ;
    background-size: cover;

}



