#topo {
    position: fixed;
    border-bottom: #E0E0E0 2px solid;
    width: 100%;
}

#topo .container-topo{
 margin-top: 10px;
 margin-left: 500px;
 margin-top: 15px;
 
}

#topo .container-topo a{
 text-decoration: none;
 font-size: 32px;
 padding: 20px;
 color: #3FA5BF;
}

#topo .container-topo a:hover{
color: darkslategrey;
margin-bottom: 40px;
transition: .5s ;
cursor: pointer;
}




#sidebar{
    height: 100%;
    width: 300px;
    background-color: #3FA5BF;
    position: fixed;
    margin-top: 38px;
}

 .logo-sidebar {
    background-image: url(../img/animal1.jpg);
    height: 200px;
    width:300px ;
    background-size: cover;
}

h3 {
    margin-left: 110px;
    align-items: center;
    font-size: 18px;
    color: #E0E0E0 ;
}

h2{
    margin-left: 110px ;
    font-size: 23px;
    color: #E0E0E0 ;
}

/* banhos*/

#banho {
    position: absolute;
    margin-top: 40px;
    margin-left: 320px;  
}

#banho-img {
    margin-top: 30px;
    position: absolute;
    display:inline-block;
    background-size: cover;
    height: 200px;
    width: 724px
}



#img1 {
   background-image: url(../img/cachobanho1.jpg);
   margin-left: 0%;
   height: 200px;
   width: 18px;
    
}

#img2 {
    background-image: url(../img/cachorrobanho2.jpg);
    height: 200px;
    width: 18px;
   
}

#img3 {
    background-image: url(../img/cachorrobanho3.jpg);
    height: 200px;
   width: 18px;
    
}

#img4 {
    background-image: url(../img/cachorrobanho4.jpg);
    height: 200px;
   width: 18px;
    margin-right: 0%;
}

