
#topo {
    position: absolute;
    border-bottom: #E0E0E0 2px solid;
    width: 100%;
}


#topo .container-topo{
 margin-top: 10px;
 margin-left: 500px;
 margin-top: 15px;
 
}

#topo .container-topo a{
 text-decoration: none;
 font-size: 32px;
 padding: 20px;
 color: #3FA5BF;
}

#topo .container-topo a:hover{
color: darkslategrey;
margin-bottom: 40px;
transition: .5s ;
cursor: pointer;
}





#sidebar{
    height: 100vmax;
    width: 300px;
    background-color: #3FA5BF;
    position: absolute;
    margin-top: 55px;
}

 .logo-sidebar {
    background-image: url(../img/animal1.jpg);
    height: 200px;
    width:300px ;
    background-size: cover;
}

h3 {
    margin-left: 110px;
    align-items: center;
    font-size: 18px;
    color: #E0E0E0 ;
}

h2{
    margin-left: 110px ;
    font-size: 23px;
    color: #E0E0E0 ;
}

/* banhos*/

#banho {
    position: absolute;
    margin-top: 60px;
    margin-left: 320px;  
}
#banho-img {
    display: inline-block;
}




#img1 {
   background-image: url(../img/cachobanho1.jpg);
   background-size: cover;
   margin-left: 0%;
   height: 200px;
   width: 250px;
    
}

#img2 {
    background-image: url(../img/cachorrobanho2.jpg);
    background-size: cover;
    height: 200px;
    width: 250px;
   
}

#img3 {
    background-image: url(../img/cachorrobanho3.jpg);
    background-size: cover;
    height: 200px;
   width: 250px;
    
}

#img4 {
    background-image: url(../img/cachorrobanho4.jpg);
    background-size: cover;
    height: 200px;
   width: 250px;
    margin-right: 0%;
}

h2{
    font-size: 40px;
    color:#3FA5BF ;
    text-align: center;
}

#tosa-img {
    display: inline-block;
    
}

#img5{
 background-image: url(../img/tosa1.jpg);
 height: 200px;
 width: 250px;
 background-size: cover;
}

#img6{
background-image: url(../img/tosa2.jpg);
height: 200px;
width: 250px;
background-size: cover;
}

#img7{
    background-image: url(../img/tosa3.jpg);
    height: 200px;
    width: 250px;
    background-size: cover;

}

#img8{
    background-image: url(../img/tosa4.jpg);
    height: 200px;
    width: 250px;
    background-size: cover;

}

p{
    font-size: 18px;
}

#produtos{
    position: absolute;
    margin-top: 40px;
    margin-left: 180px;
}

.produtos-img{
    display: inline-block;
}

#img9{
    background-image: url(../img/produtos1.jpg);
    height: 200px;
    width: 250px;
    background-size: cover;

}

#img10{
    background-image: url(../img/produtos2.jpg);
    height: 200px;
    width: 250px;
    background-size: cover;
}

#img11{
    background-image: url(../img/tosa3.jpg);
    height: 200px;
    width: 250px;
    background-size: cover;
}

#loja{
    position: absolute;
    background-color: #3FA5BF;
    margin-top: 40px;
    height: 180px;
    width: 100%;
}


.rodape{
    margin-left: 5px;
    margin-top: 490px;
    height: 150px;
    width: 100%;
    background-color: #3FA5BF;
}